/.idea/
/.vscode/
/.env.local
/.env.*.local
/vendor/
/var/cache/
/var/log/
/public/build/

###> symfony/framework-bundle ###
/.env.local.php
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/node_modules/
###< symfony/framework-bundle ###
