/.idea/
/.vscode/
/.env.local
/.env
/.env.dev
/.env.prod
/.env.*.local
/source.zip
/src.zip
/docker.zip
/vendor/
/var/cache/
/var/log/
/public/build/

###> symfony/framework-bundle ###
/.env.local.php
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/node_modules/
###< symfony/framework-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
